.header {
  padding: 40px 0;
}
.logo {
  margin-right: 50px;
}
.login {
  margin-left: auto;
  color: var(--purple);
  padding: 12px 30px !important;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: var(--purple);
}
