.layout {
  background: url("/src/assets/images/BG.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}
.content-container {
  padding: 150px 0 180px;
}

.content {
  box-shadow: 0px 15px 35px rgba(50, 50, 93, 0.1),
    0px 5px 15px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  background-color: white;
}
