.post-list-item {
  padding: 30px 0;
  color: var(--text-default);
}
.title {
  font-weight: 300;
}
.button {
  font-weight: bold;
  color: white;
}

.detail {
  background-color: var(--purple);
}

.update {
  background-color: var(--green);
}

.delete {
  background-color: var(--red);
}
