.text {
  line-height: 29px;
  color: var(--text-light);
  font-weight: 300;
  font-size: 22px;
}

.important {
  color: var(--sv-green);
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.social {
  font-size: 30px;
  border-radius: 4px;
  overflow: hidden;
}
.twitter {
  color: rgba(29, 161, 242, 1);
}
.facebook {
  color: rgba(59, 89, 153, 1);
}
.dribbble {
  color: rgba(234, 76, 137, 1);
}

.github {
  color: rgba(34, 34, 34, 1);
}
.copyright {
  padding: 13px 0 53px;
}
.brand {
  color: var(--sv-green);
}
.link {
  color: var(--text-light);
}
