@import url("antd/dist/antd.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
:root {
  --red: rgba(251, 99, 64, 1);
  --green: rgba(45, 206, 137, 1);
  --purple: rgba(94, 114, 228, 1);
  --sv-green: rgba(0, 205, 172, 1);
  --text-default: rgba(50, 50, 93, 1);
  --blue: rgba(17, 205, 239, 1);
  --text-light: rgba(136, 152, 170, 1);
  --text-bold: rgba(82, 95, 127, 1);
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-default);
}

#root {
  height: 100%;
}

/* ANT DESIGN OVERRIDES */

button.ant-btn {
  box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11),
    0px 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  height: unset;
  padding: 12px 21px;
}

input.ant-input,
textarea.ant-input {
  color: var(--text-light);
}

h2.ant-typography,
span.ant-descriptions-item-content {
  color: var(--text-bold);
}
span.ant-descriptions-item-content {
  font-weight: 600;
}
h5.ant-typography {
  color: var(--text-default);
  font-weight: 300;
}
.ant-descriptions-item-label {
  color: var(--text-light);
  min-width: 100px;
  margin-right: 3px;
}
.ant-descriptions-item-label::after {
  content: none;
}
td.ant-descriptions-item {
  padding-bottom: 3px;
}
/* ANT DESIGN OVERRIDES */
